# Maven target folder
/journal2/target/
/target/

# Eclipse, IntelliJ IDEA, and VSCode specific files
/journal2/.idea/
/.idea/
/journal2/.vscode/
/.vscode/
/journal2/*.iml
/*.iml

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Compiled class files
*.class

# Temporary files
*.tmp

# Translator Server Executable
translator.exe
translator.py
translator.bat

