/* LOGIN Dialog style */

    /*Labels*/
.label-title-extra-large {
    -fx-text-fill: rgb(225, 194, 243);
    -fx-font-size: 40px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 4, 0.5, 1, 1);
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

    /*Combo boxes*/
.combo-box-login-user-name {
    -fx-font-size: 28;
    -fx-font-weight: bold;
}

.combo-box-login-language {
    -fx-font-size: 14;
}

    /*Text fields*/
.text-field-login-user-password {
    -fx-font-size: 22;
}

.text-field-login-user-name {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

    /*Buttons*/
.button-login-big {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.button-login-small {
    -fx-font-size: 12px;
}

