/* Button - Item (when not selected) */
.button-item {
    -fx-background-color: transparent;
    -fx-text-fill: #00fb3b;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-border-color: #05ca4d;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-padding: 2 10 2 10;
}

.button-item:hover {
    -fx-background-color: #002109;
    -fx-border-color: #00fb19;
}

.button-item:pressed {
    -fx-background-color: linear-gradient(to bottom, #005418, #00943e);
    -fx-border-color: #19fb00;
}

.button-item:disabled {
    -fx-background-color: transparent;
    -fx-text-fill: #636465;
    -fx-border-color: #636465;
    -fx-cursor: default;
}

/* Button - Item (when is selected) */
.button-item-selected {
    -fx-background-color: linear-gradient(to bottom, #015400, #05230c);
    -fx-text-fill: #00fb3b;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
    -fx-border-color: #05ca4d;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-padding: 2 10 2 10;
}

.button-item-selected:hover {
    -fx-background-color: linear-gradient(to bottom, #062305, #00540d);
    -fx-border-color: #00fb19;
}

.button-item-selected:pressed {
    -fx-background-color: linear-gradient(to bottom, #005418, #00943e);
    -fx-border-color: #19fb00;
}

.button-item-selected:disabled {
    -fx-background-color: transparent;
    -fx-text-fill: #636465;
    -fx-border-color: #636465;
    -fx-cursor: default;
}

/* Selected item */
.selected-item {
    -fx-background-color: linear-gradient(to bottom, #1c0054, #120523);
    -fx-text-fill: #00fb3b;
    -fx-font-size: 16px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 2 10 2 10;
}

.selected-item:hover {
    /* -fx-background-color: linear-gradient(to bottom, #132a12, #02380a); */
    -fx-border-color: #2f2f2f;
    -fx-border-width: 1px;
}

/* Button transparent with icon only */
.button-icon {
    -fx-background-color: transparent;
    -fx-text-fill: #00a6fb;
    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-opacity: 0.6;
}

.button-icon:hover {
    -fx-opacity: 1.0;
}

.button-icon:pressed {
    -fx-background-color: linear-gradient(to bottom, #003554, #006494);
}

.button-icon:disabled {
    -fx-background-color: #353535;
    -fx-text-fill: #636465;
    -fx-cursor: default;
}

/* Button - Large */
.button-large {
    -fx-background-color: linear-gradient(to bottom, #003554, #051923);
    -fx-text-fill: #c3c315;
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-background-radius: 5px;
    -fx-border-color: #0582ca;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-padding: 5 20 5 20;
}

.button-large:hover {
    -fx-background-color: linear-gradient(to bottom, #051923, #003554);
    -fx-border-color: #00a6fb;
}

.button-large:pressed {
    -fx-background-color: linear-gradient(to bottom, #003554, #006494);
    -fx-border-color: #00a6fb;
}

.button-large:disabled {
    -fx-background-color: transparent;
    -fx-text-fill: #636465;
    -fx-border-color: #636465;
    -fx-cursor: default;
}

/* List widget - Special case for LastUsed and MostUsed */
.list-special {
    -fx-background-color: #051924;
    -fx-text-fill: #00a6fc;
    -fx-font-size: 12px;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.list-special .list-cell {
    -fx-background-color: #051924;
    -fx-text-fill: #00a6fc;
}

.list-special .list-cell:hover {
    -fx-background-color: #0c1a68;
    -fx-text-fill: #ffff00;
}

.list-special .list-cell:selected {
    -fx-background-color: #005418;
    -fx-text-fill: #00a6fb;
}

/* Text field - Special case for LastUsed and MostUsed */
.text-field-special {
    -fx-background-color: black;
    -fx-background-radius: 5px;
    -fx-text-fill: yellow;
    -fx-font-size: 12px;
    -fx-prompt-text-fill: #364257;
    -fx-border-color: #2f6690;
    -fx-border-width: 1px;
    -fx-border-style: dashed;
    -fx-border-radius: 5px;
}

.text-field-special:hover {
    -fx-border-color: #266ba0;
}

.text-field-special:focused {
    -fx-border-color: #078fdf;
    -fx-border-style: solid;
}

.text-field-special:disabled {
    -fx-background-color: #2c2c2c;
    -fx-text-fill: #636465;
    -fx-border-color: #636465;
}

/* Label from clipboard */
.label-clipboard {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-text-fill: #00a6fb;
    -fx-font-size: 14px;
    -fx-border-color: #17374e;
    -fx-border-width: 1px;
    -fx-border-style: dashed;
    -fx-border-radius: 5px;
    -fx-padding: 2 10 2 10;
}

.label-clipboard:hover {
    -fx-border-color: #00a6fb;
    -fx-border-style: solid;
}

/* Label from clipboard - selected */
.label-clipboard-selected {
    -fx-background-color: #013a0e;
    -fx-background-radius: 5px;
    -fx-text-fill: #00fb3b;
    -fx-font-size: 14px;
    -fx-border-color: #17374e;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
    -fx-padding: 2 10 2 10;
}

